[submodule "adaptive-engine-core"]
	path = adaptive-engine-core
	url = https://github.com/baaba-midnight/adaptive-engine-core.git
[submodule "student-ide"]
	path = student-ide
	url = https://github.com/baaba-midnight/student-ide.git
[submodule "instructor-dashboard"]
	path = instructor-dashboard
	url = https://github.com/baaba-midnight/instructor-dashboard.git
